/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

/* Header Styles */
header {
    background-color: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header h1 {
    margin: 0;
    text-align: center;
    padding-bottom: 10px;
}

/* Navigation Styles */
nav {
    background-color: #35424a;
    color: #ffffff;
    padding: 10px 0;
}

nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    color: #e8491d;
}

/* Form Styles */
form {
    background: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);    
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 98%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    align-content: center;
    align-items: center;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #e8491d;
    color: #fff;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #333;
}

/* Dashboard and Announcement Styles */
.dashboard-item, .announcement {
    background: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.dashboard-item h3, .announcement h3 {
    margin-top: 0;
    color: #e8491d;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.remember-me label {
    margin-left: 5px;
    font-size: 14px;
}

.google-signin {
    width: 100%;
    padding: 10px;
    background-color:#35424a;
    color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    transition: background-color 0.3s ease; /* Add smooth transition */
}

.google-signin img {
    margin-right: 10px;
    width: 18px;
    height: 18px;
}

/* Add this new hover style */
.google-signin:hover {
    background-color: #e8491d;
    color: white; /* Change text color to white for better contrast */
}

/* Optional: Change the Google icon to white on hover for better visibility */
.google-signin:hover img {
    filter: brightness(0) invert(1);
}

.forgot-password {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}
